@ft: 'Montserrat';
@color-link: #080F4D; 
@color-main-text: #1A1B24;


::-webkit-scrollbar {
    width: 14px; /* ширина для вертикального скролла */
    height: 0; /* высота для горизонтального скролла */
    background: linear-gradient(94.73deg, #ffffff 0%, #d3d3d3 100%);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background: linear-gradient(94.73deg, #3ca7ff 0%, #e93bfc 100%);
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}



p {
    color: @color-link;
}

a {
    text-decoration: none !important;
    color: @color-link;
}



li {
    list-style: none;
    color: @color-link;
}

.social__gmail-link {
    text-decoration: none;
    color: @color-link;
}

.logo__asbit:hover {

}

.header {
    background: linear-gradient(180deg, 
    rgba(255, 255, 255, 0.1) 0%, 
    rgba(255, 255, 255, 0.99) 92.21%, 
    #FFFFFF 105.93%);
}

.nav {
    padding-top: 20px;
}



.social {
    display: flex;
    justify-content: space-between;
    .social__link {
        display: flex;
        justify-content: space-between;
        width: 156px;
        margin-left: 100px;
    }
    .social__gmail {
        display: flex;
        justify-content: space-between;
        width: 364px;
        .social__gamil-main {
            display: flex;
            justify-content: space-between;
            width: 191px;
        }
    }
}

.nav__list {
    display: flex;
    padding: 0;
    margin-top: 41px;
    justify-content: space-between;
    align-items: center;
    .nav__list-item {
        display: flex;
    }
    .nav__list-button{
        padding: 12px 24px;
        background: linear-gradient(94.73deg, #60B7FF 0%, #E255F3 100%);
        border-radius: 40px;
        color: #FFF;

        transition: .4s;
    }

    .nav__list-button:hover {
        background: linear-gradient(94.73deg, 
        #8CCBFF 0%, #EF73FF 100%);
        box-shadow: 0px 20px 40px 
        rgba(226, 85, 243, 0.6);

        color: #FFF;

        transition: .4s;
    }
}

* {
    margin: 0;
    padding: 0; 
}
  
body {
    height: 100vh;
    font-family: @ft;
    
}

#canvas {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    //height: 700px; //del
}

.elipse {
    position: absolute;
    width: 340px;
    height: 340px;
    top: 0;
    left: 0;
    clip-path: ellipse(540px 540px);
    background: rgba(43, 89, 255, 0.8);
    filter: blur(200px);    
}

.elipse-two {
    position: absolute;
    width: 340px;
    height: 340px;
    bottom: 0;
    right: 0;
    clip-path: ellipse(540px 540px);
    background: rgba(41, 255, 217, 0.8);
    filter: blur(200px);    
}

.welcome__block {  
    margin-top: 41px;
    &-title {
        color: @color-main-text;
        text-align: center;
        font-size: 44px;
        line-height: 61px;
    }
    &-subtext {
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: @color-main-text;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    &-button {
        display: flex;
        justify-content: center;
        &-item {
            padding: 18px 28px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            background: linear-gradient(94.73deg, #60B7FF 0%, #E255F3 100%);
            box-shadow: 0px 20px 40px rgba(226, 85, 243, 0.3);
            border-radius: 40px;

            transition: .4s;
        }

        &-item:hover {
            background: linear-gradient(94.73deg, 
            #8CCBFF 0%, #EF73FF 100%);
            box-shadow: 0px 20px 40px 
            rgba(226, 85, 243, 0.6);

            color: #FFF;

            transition: .4s;
        }
    }
}

.flip__block {
    margin-top: 110px;
    &-rect {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
        filter: drop-shadow(0px 4px 60px rgba(8, 15, 77, 0.1));
        background: #FFFFFF;
    }

    &-rect img {
        padding: 26px 102px 0;
    }

    &-rect::after {
        position: absolute;
        content: 'Electrum asic';
        padding: 6px 12px;
        color: #FFF;
        background: #1111FF;
        border-radius: 20px;
        right: 20px;
        top: -15px; 
        border: 2px solid #FFFFFF;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    .second-rect::after {
        content: 'Advanced asic';
    }
    .third-rect::after {
        content: 'Digital asic';
    }

    &-procent-text {
        margin-top: 10px;
        font-weight: 600;
        font-size: 34px;
        line-height: 47px;
        color: #1111FF;
        text-align: center;
        margin-bottom: 0;
    }

    &-procent-info {
        color: @color-link;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 16px;
        text-align: center;
    }

    &-procent-subtext {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        padding: 0 20px;
    }

    
    .flip__block-rect-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #1111FF;
        border-radius: 20px;
    }

    .flip__block-rect-back img {
        padding: 56px 133px 0;
    }
    
    &-procent-text-back {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        text-align: center;
    }

    .text-back-span {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
}

// flip 
.flip__block {
  background-color: transparent;
//   width: 300px;
  height: 350px;
//   border: 1px solid #f1f1f1;
  perspective: 10000px; /* Remove this if you don't want the 3D effect */
}

.flip__block-procent-text-back:last-child {
    padding-bottom: 56px;
}

/* This container is needed to position the front and back side */
.flip__block-inner {
//   position: relative;
//   width: 100%;
//   height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip__block-inner.hover {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip__block-rect, .flip__block-rect-back{
  position: absolute;
//   width: 100%;
//   height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */


/* Style the back side */
.flip__block-rect-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
///////////////////////////


// features 

.features {
    margin-top: 60px;

    // title 

    &__title {
        display: flex;

        text-align: start;
        padding: 20px 40px;
    
        background: linear-gradient(180deg, #F6F9FD 0%, #F1F5FA 100%);
        border-radius: 30px;

        img {
            position: relative;

            height: 14px;

            top: 0;
            left: 0;
            margin-right: 10px;
        }
    }
    
    &__text-block {
    }

    &__text {
        font-weight: 600;
        line-height: 22px;
        margin: 0 !important;
    }
    
    &__subtext {
        font-weight: 400;
        line-height: 22px;
        margin: 0 !important;
    }


    // subtitle 
    &__subtitle {
        display: flex;

        text-align: start;
        padding: 20px 40px;
        margin-top: 30px;
    
        background: linear-gradient(180deg, #F6F9FD 0%, #F1F5FA 100%);
        border-radius: 30px;

        img {
            position: relative;

            height: 14px;

            top: 0;
            left: 0;
            margin-right: 10px;
        }
    }
}

