<div class="flip flip--rect">
    <div class="flip__rect">
       <img class="flip__img" src="img/flip_card.svg" alt="">
       <h1 class="flip__text">1,5%</h1>
       <p class="flip__info">на 100 дней</p>
       <p class="flip__subtext">от 10 000 до 100 000$ - тело депозита замораживается на 100 дней.</p>
   </div>
   <div class="flip__block-rect-back">
   <img src="img/flip_rect-back.svg" alt="">
   <p class="flip__back">Вывод депозита 1-30 дней - <span class="text-back-span">штраф 30%</span></p>
   <p class="flip__back">Вывод депозита 31-70 дней- <span class="text-back-span">штраф 20%</span></p>
   <p class="flip__block-procent-text-back">Вывод депозита 71-100 дней - <span class="text-back-span">штраф 10%</span></p>
</div>